<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/core.css}" rel="stylesheet" media="screen"  />
    <script th:src="@{/scripts/jquery.min.js}"></script>
    <script th:src="@{/scripts/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Participants</th>

    </tr>
    <tr th:each="activity : ${activities}">
        <td th:text="${activity.getName()}"></td>
        <td th:text="${activity.getDescription()}"></td>
        <td th:text="${activity.getDate()}"></td>
        <td th:text="${activity.getLocation()}"></td>
        <td>
            <!--<a class="nav-link" href="/activity/list/host" >Hosts</a>-->
            <a role="button" class="nav-link" th:href="@{/activity/{name}(name=${activity.name})}">Hosts</a>
        </td>
        <td>
            <!--<a class="nav-link" href="" >participants</a>-->
            <!--<button class="nav-link" type="submit">Participants</button>-->
            <a role="button" class="nav-link" th:href="@{/activity/participants}">Participants</a>
        </td>



        <!--<form th:action="@{/person/update-form/{id}(id=${person.id})}" method="get">
            <button type="submit">Update</button>
        </form>-->

    </tr>
</table>

</body>
</html>