
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Holahop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/styles/core.css}" rel="stylesheet" media="screen"  />
        <script th:src="@{/scripts/jquery.min.js}"></script>
        <script th:src="@{/scripts/bootstrap.min.js}"></script>
        <style>
            .center-text {
                text-align: center;
                animation: fadeIn 1s ease-in-out; /* Add animation */
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

        </style>
    </head>
    <body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <b><h2 class="center-text" style="margin-top: 5px;">Welcome to my Activities Registration website</h2></b><br>
    <h5 class="center-text" style="margin-top: 5px;">Here you can view the available activities and hosts of each activity as well as participants</h5>
    </body>
    </html>