<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/styles/core.css}" rel="stylesheet" media="screen"  />
    <script th:src="@{/scripts/jquery.min.js}"></script>
    <script th:src="@{/scripts/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="activity : ${activities}">
        <td th:text="${activity.getName()}"></td>
    </tr>
</table>

</body>
</html>